
/*=======================================
Template Design By TemplateStocks
Author URI : https://templatestocks.com/
========================================*/

.scrollToTop {
	background-color: #c1a35f;
	border: 2px solid #c1a35f;
}

.mu-readmore-btn,
.mu-browsmore-btn,
.mu-main-navbar .mu-main-nav li a:hover, 
.mu-main-navbar .mu-main-nav li a:focus,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
#mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-small-title,
#mu-about-us .mu-about-us-area .mu-about-us-left ul li:before,
.mu-title .mu-subtitle,
.mu-title i,
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li .media .media-body .media-heading a:hover, 
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li .media .media-body .media-heading a:focus,
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li .media .media-body .mu-menu-price,
#mu-subscription .mu-subscription-area .mu-subscription-form button[type="submit"]:hover,
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-info h4,
.mu-news-single h3:hover,
.mu-news-single h3 a:hover, 
.mu-news-single h3 a:focus,
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget h3,
#mu-footer .mu-footer-area .mu-footer-copyright p a:hover, 
#mu-footer .mu-footer-area .mu-footer-copyright p a:focus,
#mu-blog-banner .mu-blog-banner-area .breadcrumb li,
#mu-blog-banner .mu-blog-banner-area .breadcrumb li a,
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li a:hover, 
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li a:focus,
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-catg-nav > li a:hover,
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .tag-cloud a:hover, 
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .tag-cloud a:focus,
.mu-blog-details .mu-news-single > h2 a:hover,
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-tag .mu-news-single-tagnav li a:hover, 
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-tag .mu-news-single-tagnav li a:focus,
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-social .mu-news-single-socialnav li a:hover, 
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-social .mu-news-single-socialnav li a:focus,
.mu-blog-single-navigation a:hover, .mu-blog-single-navigation a:focus,
.mu-comments-area .comments .commentlist li .comments-date,
.mu-comments-area .comments .comments-pagination li a:hover, 
.mu-comments-area .comments .comments-pagination li a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #c1a35f;
}

.mu-readmore-btn::after,
#mu-reservation .mu-reservation-area .mu-reservation-content h3,
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider .slick-dots li,
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-dots li {
	border: 2px solid #c1a35f;
}

.mu-readmore-btn:hover, 
.mu-readmore-btn:focus,
.mu-title .mu-title-bar::before,
.mu-title .mu-title-bar::after,
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li a,
.datepicker .datepicker-switch:hover, 
.datepicker .prev:hover, 
.datepicker .next:hover, 
.datepicker tfoot tr th:hover,
.datepicker table tr td.day:hover,
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li:hover, 
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li:focus,
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul .active,
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider .slick-dots .slick-active,
#mu-subscription,
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-social a:hover, 
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-social a:focus,
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-dots .slick-active,
#mu-footer .mu-footer-area .mu-footer-social a:hover, #mu-footer .mu-footer-area .mu-footer-social a:hover,
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single h3:after,
.mu-comments-area .comments .commentlist li .reply-btn,
.navbar-default .navbar-toggle .icon-bar {
	background-color: #c1a35f;
}

.mu-readmore-btn:hover::after, 
.mu-readmore-btn:focus::after,
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="text"]:focus,
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="email"]:focus,
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form select:focus,
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form textarea:focus,
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form input[type="text"]:focus,
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form input[type="email"]:focus,
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form textarea:focus,
.mu-blog-details .mu-news-single .mu-news-single-content blockquote,
#respond input[type="text"]:focus,
#respond input[type="email"]:focus,
#respond input[type="url"]:focus,
#respond textarea:focus {
	border-color: #c1a35f;
}

.mu-browsmore-btn:hover, 
.mu-browsmore-btn:focus,
.mu-send-btn:hover, 
.mu-send-btn:focus,
#mu-slider .mu-slider-area .mu-top-slider .slick-prev:hover, 
#mu-slider .mu-slider-area .mu-top-slider .slick-prev:focus,
#mu-slider .mu-slider-area .mu-top-slider .slick-next:hover,
#mu-slider .mu-slider-area .mu-top-slider .slick-next:focus {
	background-color: #c1a35f;
	border-color: #c1a35f;
}

#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu {
	border-bottom: 1px solid #c1a35f;
}

#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li a:hover, 
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li a:focus,
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li:hover::after, 
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li:focus::after {
	border-color: #c1a35f #c1a35f transparent;
}

#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu .active a,
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu .active a:hover,
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu .active a:focus {
	color: #c1a35f;
	border-color: #c1a35f #c1a35f transparent;
}
 
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-social a {
  border: 1px solid #c1a35f;
  color: #c1a35f;
}

